.error{
    background:#ffb4b4 !important;
    margin:3px !important
}

.form-error {
    
}

.menu {
	background-color : #575756 !important;
	background-image : none !important;
}

.ui-category.single-item .galery-item-option.selected {
	background-color: #575756 !important;
	border-color: #575756 !important;
}

.btn.outlined .btn-content,
.control-panel .button {
	color : #575756 !important;
	border: solid 1px #575756 !important;
}

.ui-switch .toggle+label .marker,
.toggle:checked+label .marker,
.toggle+label .marker,
.size .property-editor.composite select,
.control-panel .button:hover {
	background-color: #575756 !important;
}

.switch .item {
	color: #575756 !important;
	border-color: #575756 !important;
}

.switch .item.selected {
	background-color : #575756 !important;
	border-color : #575756 !important;
	color: white !important;
}

.select-default-preview.section-type .icon {
	background : #575756 !important;
	color: white !important;
}

.icon > .mdi-chevron-double-right,
.control-panel .button:hover {
	color: white !important;
}

.section-facades .facade .option,
.selector-items .item.selected .preview,
.selector-items .item:hover .preview,
.preview:hover {
	outline-color: #575756 !important;
}

.selector-items .item.selected .preview:after {
	border-left-color : #575756 !important;
}

input[type=range]::-webkit-slider-thumb {
    border: solid 7px #575756 !important;
}

.views-container .action.checked {
	background : #75756e !important;
}