.error{
    background:#ffb4b4 !important;
    margin:3px !important
}

.form-error {
    
}

.ng-scope .toolbar-container .primary > .ng-scope:first-child ,
.ng-scope .toolbar-container .primary > .ng-scope:last-child, 
.ng-scope .toolbar-container .secondary,
.ng-scope .ng-isolate-scope .price-container,
#mCSB_53_container > .ng-scope:nth-child(4),
#mCSB_53_container > .ng-scope:nth-child(5) {
	display: none !important;
}

.menu {
	background-color : #f04e23 !important;
	background-image: none;
}

.icon,
.ui-dropdown button,
.ui-slider label .value,
.nav-panel .nav-panel-item .expanded>a {
	color : #f04e23 !important;
}

.ui-category.single-item .galery-item-option.selected {
	background-color: #f04e23 !important;
	border-color: #f04e23 !important;
}

.btn.outlined .btn-content {
	color : #f04e23 !important;
	border: solid 1px #f04e23 !important;
}

.ui-switch .toggle+label .marker {
	background-color: #f04e23 !important;
	/* background-image: none; */
}